/* This is standard style for the dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1ex;
    cursor: pointer;
}

.dropContent {
    background-color:black;

    right:0px;
    position: absolute;
    font-size: 12px;
    z-index: 3;

    padding: 8px;
    line-height: 1.7em;
    border-radius: 8px;
    letter-spacing: 1px;
    right: -500px;
    visibility: hidden;

    /* animate the change of the right property when clicked (zooms in from right)*/
    transition: right 0.5s ease 0s;
    
    white-space: nowrap;
}

/* don't delete this even though empty - js needs it. */
.dropHeader {

}